.sidebar {
  position: fixed;
  top: var(--length-xxxl);
  left: 0;
  bottom: 0;
  width: 240px;
  border-right: solid 1px var(--divider-tertiary);
  z-index: 7;
}

.contents {
  height: 100%;
  overflow-y: scroll;
  padding: var(--spacing-l) 0 var(--spacing-s);
  /* スクロールバー非表示(Edge) */
  -ms-overflow-steyle: none;
  /* スクロールバー非表示(Chrome) */
  scrollbar-width: none;
}

.contents::-webkit-scrollbar {
  /* スクロールバー非表示(Safari) */
  display: none;
}

.closeButton {
  position: absolute;
  top: 50px;
  right: -10px;
  width: 20px;
  height: 20px;
  background-color: blue;
  z-index: -3;
}

.category {
  font-size: 13px;
  font-weight: 500;
  color: var(--font-color-secondary);
  padding-left: var(--spacing-s);
}

.item {
  height: var(--length-l);
  border: none;
  background: none;
  cursor: pointer;
  color: var(--button-default-color);
  font-size: 15px;
}

.item:hover {
  background-color: var(--button-default-color-hover);
}
