:root {
  --max-width: 1100px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono", "Roboto Mono",
    "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro", "Fira Mono", "Droid Sans Mono",
    "Courier New", monospace;

  --font-size-root: 16px;
  --font-size-xs: 0.75rem; /* 12px */
  --font-size-s: 0.8125rem; /* 13px */
  --font-size-sm: 0.875rem; /* 14px */
  --font-size-base: 1rem; /* 16px */
  --font-size-lg: 1.25rem; /* 20px */

  --spacing-xxs: 4px;
  --spacing-xs: 8px;
  --spacing-s: 16px;
  --spacing-m: 24px;
  --spacing-l: 32px;
  --spacing-xl: 40px;
  --spacing-xxl: 48px;
  --spacing-xxxl: 56px;
  --spacing-4xl: 64px;

  --length-xxs: 4px;
  --length-xs: 8px;
  --length-s: 16px;
  --length-m: 24px;
  --length-l: 32px;
  --length-xl: 40px;
  --length-xxl: 48px;
  --length-xxxl: 56px;
  --length-4xl: 64px;

  --breakpoint-desktop: 1020px;

  --devider-primary: #a8b3cf;
  --devider-secondary: #a8b3cf66;
  --divider-tertiary: #a8b3cf33;
}

:root[data-theme="light"] {
  --theme-primary: #0e1117;
  --theme-background: #fff;
  --theme-background-reverse: #0e1117;
  --theme-background-reverse-hover: #0e1217a3;
  --theme-dialog-backdrop: #5f37e93d;
  --button-default-color: #525866;
  --button-default-color-hover: #a8b3cf33;
  --link-default-color: #a8b3cf66;
  --font-color-primary: #0e1117;
  --font-color-secondary: #525866a3;
  --font-color-tertiary: #525866;
  --font-color-reverse: #fff;
  --border-color-primary: #a8b3cf;
}

:root[data-theme="dark"] {
  --theme-primary: #fff;
  --theme-background: #0e1217;
  --theme-background-reverse: #fff;
  --theme-background-reverse-hover: #a8b3cf;
  --theme-dialog-backdrop: #5f37e93d;
  --button-default-color: #a8b3cf;
  --button-default-color-hover: #a8b3cf33;
  --link-default-color: #a8b3cf;
  --font-color-primary: #fff;
  --font-color-secondary: #a8b3cf;
  --font-color-tertiary: #a8b3cf66;
  --font-color-reverse: #0e1217;
  --border-color-primary: #a8b3cf66;
}

::backdrop {
  /* ダイアログ用 */
  --theme-dialog-backdrop: #5f37e93d;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
}

body {
  font-size: var(--font-size-root);
  color: var(--theme-primary);
  background: var(--theme-background);
}

a:visited {
  color: inherit;
}
