:root {
  --max-width: 1100px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono", "Roboto Mono",
    "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro", "Fira Mono", "Droid Sans Mono",
    "Courier New", monospace;

  --font-size-root: 16px;
  --font-size-base: 1rem;
  --font-size-lg: 1.25rem;
  --font-size-sm: 0.875rem; /* 14px */
  --font-size-s: 0.8125rem; /* 13px */
  --font-size-xs: 0.75rem; /* 12px */

  --spacing-xxs: 4px;
  --spacing-xs: 8px;
  --spacing-s: 16px;
  --spacing-m: 24px;
  --spacing-l: 32px;
  --spacing-xl: 40px;
  --spacing-xxl: 48px;
  --spacing-xxxl: 56px;
  --spacing-4xl: 64px;

  --length-xxs: 4px;
  --length-xs: 8px;
  --length-s: 16px;
  --length-m: 24px;
  --length-l: 32px;
  --length-xl: 40px;
  --length-xxl: 48px;
  --length-xxxl: 56px;
  --length-4xl: 64px;

  --breakpoint-desktop: 1020px;

  --devider-primary: #a8b3cf;
  --devider-secondary: #a8b3cf66;
  --divider-tertiary: #a8b3cf33;
}

:root[data-theme="light"] {
  --theme-primary: #000;
  --theme-background: #fff;
}

:root[data-theme="dark"] {
  --theme-primary: #fff;
  --theme-background: #0e1217;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
}

body {
  font-size: var(--font-size-root);
  color: var(--theme-primary);
  background: var(--theme-background);
}
