.body {
  min-height: 100vh;
}

.mainContainer {
  display: flex;
  flex-direction: row;
  padding-left: 240px;
}

.main {
  position: relative;
  left: 0;
  padding: var(--spacing-xl) var(--spacing-m);
  z-index: -10;

  @media screen and (min-width: 1020px) {
    padding: var(--spacing-xl) var(--spacing-4xl);
  }
}
