.body {
  min-height: 100vh;
}

.main {
  position: relative;
  left: 0;
  padding: var(--spacing-xl) var(--spacing-m);

  @media screen and (min-width: 1020px) {
    left: 240px;
    padding: var(--spacing-xl) var(--spacing-4xl);
  }
}
