.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 280px;
  background-color: black;
  border-right: solid 1px var(--divider-tertiary);
  z-index: 3;
  transform: translateX(-280px);
  transition: transform 0.3s;
}

.sidebarExpanded {
  transform: translateX(0);
}

.contents {
  height: 100%;
  overflow-y: scroll;
  padding: var(--spacing-l) 0 var(--spacing-s);
  /* スクロールバー非表示(Edge) */
  -ms-overflow-steyle: none;
  /* スクロールバー非表示(Chrome) */
  scrollbar-width: none;
}

.contents::-webkit-scrollbar {
  /* スクロールバー非表示(Safari) */
  display: none;
}

.closeButton {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 10px;
  right: 0;
  transform: translateX(50%);
  width: 25px;
  height: 25px;
  cursor: pointer;
  color: var(--font-color-reverse);
  background-color: var(--theme-background-reverse);
  border: none;
  border-radius: 5px;
  z-index: 3;
  visibility: hidden;
}

.sidebar:hover > .closeButton {
  visibility: visible;
}

.closeButton:hover {
  background-color: var(--theme-background-reverse-hover);
}

.category {
  font-size: 13px;
  font-weight: 500;
  color: var(--font-color-secondary);
  padding-left: var(--spacing-s);
}

.item {
  height: var(--length-l);
  border: none;
  background: none;
  cursor: pointer;
  color: var(--button-default-color);
  font-size: 15px;
}

.item:hover {
  background-color: var(--button-default-color-hover);
}

.hidden {
  visibility: hidden;
}

.backdrop {
  position: fixed;
  top: 56px;
  left: 0px;
  background-color: var(--theme-dialog-backdrop);
  width: 100%;
  height: 100%;
  z-index: 2;
}
