.dialog {
  position: fixed;
  top: var(--length-xxxl);
  left: 50%;
  transform: translateX(-50%);
  height: 640px;
  width: 100%;
  max-width: 420px;
  background-color: #0e1217;
  border-color: var(--divider-tertiary);
  border-radius: 20px;
  outline: none;
  z-index: 0;
}

.dialog::backdrop {
  background: #5f37e93d;
}

.dialogInner {
  width: 100%;
  height: 100%;
}
