.dialogHeader {
  position: relative;
  height: var(--length-xxxl);
  border-bottom: solid 1px var(--divider-tertiary);
}

.dialogTitle {
  color: #fff;
  font-size: 20px;
  font-weight: bold;
}

.crossIcon {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50%;
  right: 10px;
  width: 40px;
  height: 40px;
  transform: translateY(-50%);
  border-radius: 10px;
  cursor: pointer;
}

.crossIcon:hover {
  background-color: #ffffff15;
  transition: 0.3s;
}
