.dialog {
  position: fixed;
  top: var(--length-xxxl);
  left: 50%;
  transform: translateX(-50%);
  height: 640px;
  width: 100%;
  max-width: 420px;
  background-color: var(--theme-background);
  border-color: var(--divider-tertiary);
  border-radius: 20px;
  outline: none;
  z-index: 0;
}

.dialog::backdrop {
  background-color: var(--theme-dialog-backdrop);
}

.dialogInner {
  width: 100%;
  height: 100%;
}
