.aside {
  position: fixed;
  top: var(--length-xxxl);
  left: 0;
  bottom: 0;
  width: 240px;
  overflow-y: scroll;
  border-right: solid 1px var(--divider-tertiary);
  /* スクロールバー非表示(Edge) */
  -ms-overflow-steyle: none;
  /* スクロールバー非表示(Chrome) */
  scrollbar-width: none;
}

.aside::-webkit-scrollbar {
  /* スクロールバー非表示(Safari) */
  display: none;
}
