.header {
  display: flex;
  justify-content: start;
  align-items: center;
  height: 56px;
  width: 100%;
  z-index: 4;
  border-bottom: solid var(--divider-tertiary);
  background-color: inherit;
  padding: var(--spacing-xs) var(--spacing-s);

  @media screen and (min-width: 1020px) {
    justify-content: space-between;
    position: sticky;
    top: 0;
  }
}

.button {
  cursor: pointer;
  width: 40px;
  height: 40px;
  border: 0;
  border-radius: 10px;
  background-color: #ffffff00;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #ffffff20;
}
