.header {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 56px;
  width: 100%;
  z-index: 4;
  border-bottom: solid var(--divider-tertiary);
  background-color: inherit;
  padding: var(--spacing-xs) var(--spacing-l);

  @media screen and (min-width: 1020px) {
    justify-content: space-between;
    position: sticky;
    top: 0;
    padding: var(--spacing-xs) var(--spacing-s);
  }
}

.button {
  cursor: pointer;
  width: 40px;
  height: 40px;
  border: 0;
  border-radius: 10px;
  background-color: #ffffff00;
  transition: background-color 0.3s;

  @media screen and (min-width: 1020px) {
  }
}

.button:hover {
  background-color: #ffffff20;
}

.link {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: var(--spacing-xxs);

  @media screen and (min-width: 1020px) {
    position: static;
    transform: translateX(0);
  }
}
